<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3 content_container">
			<!-- <img src="images/logo.png" class="logo img-responsive pull-right" /> -->
			<br/>
			<hr>
				<h1 class="text-center">As of August 31, 2016, there are 21 missed connections!</h1>
			<hr>
		</div>
	</div>
</div>



<!-- Start of Content -->
<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3 content_container">
			<!-- <img src="images/funny-logo.png" class="funny_logo img-responsive center-block" /> -->
			<!-- <img src="images/logo.png" class="logo img-responsive center-block" --> />
			<br/>
			<h1 class="text-center">Who did you miss? <a id="btn-fblogin"  href="/login/facebook">Login With Facebook</a>!</h1>
		</div>
	</div>
</div>




