<section id="messages">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="another_logo"></div>
        <h3>.Hello</h3> 
        <p>Everyone's busy and dating apps suck. If you missed someone who you might want to have a conversation with send them a message.</p>
      </div>
    </div>
  </div>

<div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3># Missed Connections</h3> 

        <ul ng-controller="MessagesIndexController">
          <li ng-repeat="Message in messages">
            <p></p>
            <p>
              <b>Location Name</b>: {{Message.location.name}} <b>Address</b>: {{Message.location.address}}
            </p>
              <ul class="nested_list">
                <li>
                  <hr>
                  <p>
                    Message: {{Message.content}}
                  </p>
                 
                  <hr>
                </li>
              </ul>
               <p>
                    <form ng-controller="ResponsePostController", ng-submit="saveResponse(Message)" class="">
                      <div class="form-group" id="replyform">
                        <label for="location" class="">Was it you?: </label>
                        <input type="text" name="response" id="responseRegister" placeholder="Send a response." class="" ng-model="newResponse.content">
                      </div>
                      </form>
                </p>
              </li>
        </ul>
      </div>
    </div>
  </div>
</section>
