<section id="messages">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="another_logo"></div>
        <h3>.Hello</h3> 
        <p>Eveyone is busy and dating apps suck. Missed connections gives you another chance to strike up a conversation with that really cool person you were about to talk to before your bus pulled up. Post here and see what happens.</p>
      </div>
    </div>
  </div>

<div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3># Missed Connections</h3> 

        <ul ng-controller="MessagesIndexController">
          <li ng-repeat="Message in messages">
            <p>
              <b>Location Name</b>: {{Message.location.name}} <b>Address</b>: {{Message.location.address}}
            </p>
              <ul class="nested_list">
                <li>
                  <hr>
                  <p>
                    Message: {{Message.content}}
                  </p>
                  <hr>
                </li>
              </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>











<!-- <div class="row" id="grid-row1" >
        <div class="col-md-2" id="a" data-id=0 >
        <h2 id="message-location"></h2>  
        <h2 id="message-location"></h2> 
        <p class="message-description">""</p>
        </div>
        <div class="col-md-2" id="b" data-id=1></div>
        <div class="col-md-2" id="c" data-id=2></div>
        <div class="col-md-2" id="d" data-id=3></div>
        <div class="col-md-2" id="e" data-id=4></div>
        <div class="col-md-2" id="f" data-id=5></div>
    </div>
</div>
 -->
