<section id="messages">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="another_logo"></div>
        <h3>.Hello</h3> 
        <p>Everyone's busy and dating apps suck. If you missed someone who you might want to have a conversation with send them a message.</p>
      </div>
    </div>
  </div>

<div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3># Missed Connections</h3> 

        <ul ng-controller="MessagesIndexController">
          <li ng-repeat="Message in messages">
            <p>
              <b>Location Name</b>: {{Message.location.name}} <b>Address</b>: {{Message.location.address}}
            </p>
              <ul class="nested_list">
                <li>
                  <hr>
                  <p>
                    Message: {{Message.content}}
                  </p>
                  <hr>
                </li>
              </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
