<section id="profile" ng-controller="ProfileController">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="another_logo"></div>
        <img class="img-responsive img-rounded" ng-src="{{user.facebook.photos}}">
        <h3>.Hello {{user.facebook.name}}</h3> 
        <p>Hi, I'm Holly. I'm moderately fun on the weekdays when I'm hard at work stacking meagre amounts of money so I can spend time in tents and seedy hostels. I'm a poet turned computer programmer, a negative optimistic, and oftentimes a real pain in the ass. Sounds good huh? Looking for nothing, open to anything. (adventures you perv) </p>
        <a href='/#/messages' class="profile_link">Send a Message</a>
      </div>
    </div>
  </div>

</section>

